body{
    overflow-x: hidden;
    min-height: 100vh;
}

.texto-menor {
    font-size: 13px;
}

.div-facilidades{
    width: 375px;
}

.div-novidades {
    width: 325px;
}

/* 
* BOTÕES
*/

.botao-lilas {
    background-color: #9353FF;
    color: white;
    font-family: 'PT Serif', serif;
    border-radius: 0;
}

.botao-lilas:hover {
    background-color: #7c33f8;
    color: white;
}

.botao-medidas, .botao-tamanhos {
    border: 1px solid gray;
}

.botao-medidas:hover, .botao-tamanhos:hover {
    border: 1.5px solid black !important;
}

.btn-check:checked + .botao-tamanhos{
    background-color: black !important;
    color: white;
}

.verde-limao {
    color: #DAFF01;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }
}

/* Carrossel página de produto */
.carousel-thumb{
    /* opacity 50% */
    opacity: 0.5;
    transition: 0.5s;
}
.carousel-thumb.active{
    /* opacity 100% */
    opacity: 1;
    transition: 0.5s;
}

.carousel-item img{
    height: 450px;
    object-fit: scale-down;
}

/* Menu de perfil e dashboard - Shoelace */


sl-menu-item a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'PT Serif', serif;
    
}

label {
    font-family: 'PT Serif', serif;
}

a {
    font-family: 'PT Serif', serif;
    color: black;
}

input {
    font-family: 'PT Serif', serif;
}
