.texto-menor {
    font-size: 13px;
}

.div-facilidades{
    width: 375px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #9353FF;
}

.botao-lilas:hover {
    background-color: #8847f9;
}

.botao-medidas, .botao-tamanhos {
    border: 1px solid gray;
}

.botao-medidas:hover {
    border: 1px solid black;
}

.verde-limao {
    color: #DAFF01;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }
}

/* Carrossel página de produto */
.carousel-thumb{
    /* opacity 50% */
    opacity: 0.5;
    transition: 0.5s;
}
.carousel-thumb.active{
    /* opacity 100% */
    opacity: 1;
    transition: 0.5s;
}

.carousel-item img{
    height: 450px;
    object-fit: scale-down;
}

/* Menu de perfil e dashboard - Shoelace */


sl-menu-item a {
    text-decoration: none;
    color: black;
}